@import "./colorVariables.scss";

@mixin button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 16px;
    border: 2px solid transparent;
    background-color: $lightGreen;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;


    #812ee7 &:hover,
    &:focus {
        background-color: #432f5c;
        outline: none;
    }

    &:active {
        background-color: #333e7b;
    }

    &:disabled {
        background-color: rgba(147, 172, 217, 1) 51%;
        color: #777;
        cursor: not-allowed;
    }
}