// Color variables

//theme 1 
$primaryColor: #812ee7;
$secondaryColor: #5ce1e6;
$tertiaryColor: #F5F5F5;
$darkPurple: #453b60;
$darkBlue: #364176;
$lightBlue: #95d4da;

// theme 2 
$rubyRed: #C70039;
$darkOrange: #FF5733;
$mustardYellow: #FFC300;
$lightYellow: #FFDB58;

// theme 3
$linen: linen;
$floralWhite: floralWhite;
$plum: #581845;
$deepMagenta: #900C3F;
$lightGreen: #DAF7A6;