body {
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Patua+One&display=swap');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {}