@import "~bootstrap/scss/bootstrap";

// Colour variables
$primaryColor: #812ee7;
$secondaryColor: #5ce1e6;

* {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, $secondaryColor 18%, rgba(99, 200, 222, 1) 37%, rgba(147, 172, 217, 1) 51%, rgba(143, 143, 220, 1) 68%, $primaryColor 88%);
  padding: 5px 10px;

  .nc-logo {
    width: calc(250px - 10px);
    cursor: pointer;
    background-color: inherit;
  }

  .profile-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      height: 45px;
    }
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}